@import url("https://fonts.googleapis.com/css?family=Comfortaa:300,400,700&subset=cyrillic");
p,
span,
li,
a,
h1,
h2,
h3,
h4 {
  font-family: 'Comfortaa';
}

html {
  font-size: 14px;
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  background: #CCDDE8;
}

.loaderArea {
  background: -webkit-gradient(linear, left top, right top, color-stop(10%, #08478C), color-stop(90%, #006894));
  background: linear-gradient(90deg, #08478C 10%, #006894 90%);
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 100000;
}

.loaderArea .loader {
  height: 40px;
  width: 40px;
  position: absolute;
  left: 50%;
  margin-left: -20px;
  top: 50%;
  margin-top: -20px;
}

.loaderArea .loader:before,
.loaderArea .loader:after {
  content: "";
  height: 40px;
  width: 40px;
  border: 8px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  position: absolute;
  top: 0;
}

.loaderArea .loader:before {
  -webkit-animation: animate 2s infinite linear;
          animation: animate 2s infinite linear;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: rotate(0) skew(0);
            transform: rotate(0) skew(0);
  }
  100% {
    -webkit-transform: rotate(180deg) skew(360deg);
            transform: rotate(180deg) skew(360deg);
  }
}

@keyframes animate {
  0% {
    -webkit-transform: rotate(0) skew(0);
            transform: rotate(0) skew(0);
  }
  100% {
    -webkit-transform: rotate(180deg) skew(360deg);
            transform: rotate(180deg) skew(360deg);
  }
}

.loaderArea .loader:after {
  -webkit-animation: animate2 2s infinite linear;
          animation: animate2 2s infinite linear;
}

@-webkit-keyframes animate2 {
  0% {
    -webkit-transform: rotate(0) skew(0);
            transform: rotate(0) skew(0);
  }
  100% {
    -webkit-transform: rotate(-180deg) skew(-360deg);
            transform: rotate(-180deg) skew(-360deg);
  }
}

@keyframes animate2 {
  0% {
    -webkit-transform: rotate(0) skew(0);
            transform: rotate(0) skew(0);
  }
  100% {
    -webkit-transform: rotate(-180deg) skew(-360deg);
            transform: rotate(-180deg) skew(-360deg);
  }
}

.container > nav {
  background-color: #B7C8D3;
}

.container > nav .email > a i.fas {
  font-size: 15px;
  border: 1px solid #006894;
  border-radius: .3rem;
  padding: .35rem;
  margin: 0 1rem;
  color: #006894;
}

.container > nav .email > a i.fas:hover {
  color: #08478C;
  border-color: #08478C;
}

.container > nav .number-phone {
  color: #006894;
}

.container > nav .navbar-brand {
  padding: 0 .5rem;
}

.container > nav .navbar-brand img {
  height: 25px;
}

.container > nav .navbar-nav li.nav-item > a.nav-link {
  color: #000000e6;
}

.container > nav .navbar-nav li.nav-item > a.nav-link:hover {
  color: #008AC3;
}

.container > nav .navbar-nav li.active > a.nav-link {
  color: #006894;
}

.container > nav .navbar-nav li.nav-item > div.dropdown-menu {
  background-color: #B7C8D3;
  border: 4px solid #CCDDE8;
  margin-top: .5em;
}

.container > nav .navbar-nav div.dropdown-menu > a.dropdown-item:hover {
  background-color: transparent;
  color: #006894;
}

.container > .row {
  background-color: #CCDDE8;
  padding: 0;
  margin: 0;
}

.container > .row .col-md-7 {
  padding: 1rem;
  margin: 0;
}

@media (min-width: 320px) {
  .container > .row .col-md-7 .carousel-item img {
    height: 300px;
  }
}

@media (min-width: 900px) {
  .container > .row .col-md-7 .carousel-item img {
    height: 35px;
  }
}

@media (min-width: 1000px) {
  .container > .row .col-md-7 .carousel-item img {
    height: 580px;
  }
}

@media (min-width: 1300px) {
  .container > .row .col-md-7 .carousel-item img {
    height: 650px;
  }
}

@media (min-width: 1900px) {
  .container > .row .col-md-7 .carousel-item img {
    height: 850px;
  }
}

.container > .row .col-sm-5 {
  padding: 0;
  margin: 1rem 0;
  background-color: #B7C8D3;
}

.container > .row .col-sm-5 h5 {
  color: #08478C;
  margin: 1rem 0 0 1rem;
  padding: 0;
}

.container > .row .col-sm-5 .p-2 {
  margin: 0.8rem;
  background-color: #CCDDE8;
}

.container > .row .col-sm-5 .p-2 .date {
  color: #08478C;
  padding: .2rem 1rem;
  font-size: 14px;
  font-weight: 700;
}

.container > .row .col-sm-5 .p-2 .d-flex {
  padding: 0.35rem;
}

.container > .row .col-sm-5 .p-2 .d-flex .info {
  padding: .5rem;
}

.container > .row .col-sm-5 .p-2 .d-flex .info > a img {
  height: 100px;
}

.container > .row .col-sm-5 .p-2 .d-flex .info > a {
  color: #08478C;
}

#accordion .card {
  background-color: #CCDDE8;
  border: none;
}

#accordion .card .card-header {
  background-color: #CCDDE8;
}

#accordion .card .card-header a > h5.mb-0 {
  color: #006894;
}

#accordion .card .card-header a > h5.mb-0:hover {
  text-decoration: none;
  color: #08478C;
}

#accordion .card .card-body {
  background-color: #B7C8D3;
}

#accordion .card .card-body .row .col-sm-4 .container {
  padding: 1.5rem;
}

#accordion .card .card-body .row .col-sm-4 .container h6 {
  color: #08478C;
  font-size: 16px;
}

#accordion .card .card-body .row .col-sm-4 .container li {
  border: none;
}

#accordion .card .card-body .row .col-sm-4 .container p {
  background-color: #CCDDE8;
  padding: .15rem;
}

#accordion .card .card-body .row .col-sm-4 .container-fluid {
  padding: 2.3rem 0;
}

@media (min-width: 319px) {
  #accordion .card .card-body .row .col-sm-4 .container-fluid .img-rgv {
    height: 205px;
  }
}

@media (min-width: 374px) {
  #accordion .card .card-body .row .col-sm-4 .container-fluid .img-rgv {
    height: 235px;
  }
}

@media (min-width: 767px) {
  #accordion .card .card-body .row .col-sm-4 .container-fluid .img-rgv {
    height: 165x;
  }
}

@media (min-width: 1024px) {
  #accordion .card .card-body .row .col-sm-4 .container-fluid .img-rgv {
    height: 235px;
  }
}

@media (min-width: 1240px) {
  #accordion .card .card-body .row .col-sm-4 .container-fluid .img-rgv {
    height: 285px;
  }
}

@media (min-width: 1440px) {
  #accordion .card .card-body .row .col-sm-4 .container-fluid .img-rgv {
    height: 290px;
  }
}

#accordion .card .card-body .row .col-sm-4 button.btn {
  color: #08478C;
  background-color: #CCDDE8;
  margin: 1.5rem 0;
  padding: 1rem;
  border: 2px solid #006894;
}

#accordion .card .card-body .row .col-sm-4 .modal-content {
  padding: 0;
  margin: 0;
}

#accordion .card .card-body .row .col-sm-4 .modal-content .modal-body {
  padding: 0;
  margin: 0;
}

#accordion .card .card-body .row .col-sm-4 .modal-content .modal-body .container {
  padding: 0 8.2rem;
  margin: 0;
  background-color: transparent;
}

#accordion .card .card-body .row .col-sm-4 .modal-content .modal-body .container img {
  width: 580px;
}

#accordion .card .card-body .row .col-sm-4 ul.list-group > li {
  background-color: #CCDDE8;
}

#accordion .card .card-body .row .col-sm-4 ul.list-group > li img {
  height: 23px;
}

#carouselId {
  background-color: #CCDDE8;
}

#carouselId h4 {
  color: #08478C;
}

#carouselId .row {
  padding: 1.2rem;
}

#carouselId .row .col-sm-4 {
  padding: 1rem;
}

#carouselId .row .col-sm-4 img {
  height: 50px;
}

table.table {
  margin-bottom: 0;
  padding: 0;
  margin: 0;
}

@media (max-width: 500px) {
  table.table tr {
    background-color: #B7C8D3;
    font-size: 9px;
    padding: 0;
    margin: 0;
  }
  table.table tr img {
    width: 70px;
  }
}

@media (min-width: 1200px) {
  table.table tr {
    background-color: #B7C8D3;
    font-size: 16px;
  }
  table.table tr img {
    width: 120px;
  }
}

.container {
  background-color: #CCDDE8;
}

.container h5 {
  padding: 0.5rem 1.5rem;
  color: #08478C;
}

.container .col-sm-6 > .container {
  background-color: #B7C8D3;
  padding: 1rem;
  border-radius: 0.35rem;
}

.container .col-sm-6 > .container p {
  font-size: 13px;
}

.container .col-sm-6 > .container p span {
  color: #08478C;
  font-weight: 700;
}

.container .col-sm-6 > a {
  background-color: #B7C8D3;
  margin: 1.5rem 0;
}

.container .col-sm-6 > a:hover {
  background-color: #EDECE8;
}

.container .col-sm-6 > a i {
  padding: .5rem;
  font-size: 20px;
  color: #08478C;
}

.about {
  padding: 1rem;
}

.about .col-sm-6 {
  background-color: #B7C8D3;
}

.about .col-sm-6 h5 {
  color: #006894;
}

.about .col-sm-6 img {
  width: 600px;
  padding: 2rem;
}

footer .container-fluid {
  background-color: #B7C8D3;
}

footer .row {
  padding: 1rem 0;
}

footer .row .col-sm-6 p {
  font-size: 12px;
}

footer .row .col-sm-6 img {
  height: 30px;
}

footer .row .col-sm-6 img.opzht {
  height: 70px;
}
/*# sourceMappingURL=main.css.map */