$body-color-dark: #B7C8D3;
$body-color: #CCDDE8;
$body-color-light: #EDECE8;
$primary-color-light:#008AC3;
$primary-color: #006894;
$primary-color-dark :#08478C;
$text-color: #000000e6;
$second-text-color: #00000080;

@import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400,700&subset=cyrillic');

p,
span,
li,
a,
h1,
h2,
h3,
h4 {
    font-family: 'Comfortaa';
}

html {
    font-size: 14px;
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    background: $body-color;

    .container>nav {
        background-color: $body-color-dark;

        .email>a {
            i.fas {
                font-size: 15px;
                border: 1px solid $primary-color;
                border-radius: .3rem;
                padding: .35rem;
                margin: 0 1rem;
                color: $primary-color;

                &:hover {
                    color: $primary-color-dark;
                    border-color: $primary-color-dark;
                }
            }
        }

        .number-phone {
            color: $primary-color;
        }

        .navbar-nav {
            li.nav-item>a.nav-link {
                color: $text-color;

                &:hover {
                    color: $primary-color-light;
                }
            }

            li.active>a.nav-link {
                color: $primary-color;
            }

            li.nav-item>div.dropdown-menu {
                background-color: $body-color-dark;
                border: none;
            }

            div.dropdown-menu>a.dropdown-item {
                &:hover {
                    background-color: transparent;
                    color: $primary-color;
                }
            }

        }
    }

    .container>.row {
        background-color: $body-color;
        padding: 1rem;
        margin: 0;

        .col-md-7 {
            padding: 0;
            margin: 0;

            @media (min-width: 320px) {
                .carousel-item img {
                    height: 300px;
                }
            }

            @media (min-width: 900px) {
                .carousel-item img {
                    height: 35px;
                }
            }

            @media (min-width: 1000px) {
                .carousel-item img {
                    height: 580px;
                }
            }

            @media (min-width: 1300px) {
                .carousel-item img {
                    height: 650px;
                }
            }

            @media (min-width: 1900px) {
                .carousel-item img {
                    height: 850px;
                }
            }
        }

        .col-sm-5 {
            padding: 0;
            margin: 0;

            h5 {
                color: $primary-color-dark;
                margin: 1rem 0 0 1rem;
            }

            .p-2 {
                margin: 1rem;
                background-color: $body-color-dark;

                .date {
                    color: $primary-color-dark;
                    padding: .2rem 1rem;
                    font-size: 14px;
                    font-weight: 700;
                }

                .d-flex {
                    padding: 0.35rem;

                    .info {
                        padding: .5rem;
                    }

                    .info>a img {
                        height: 100px;
                    }

                    .info>a {
                        color: $primary-color-dark;
                    }
                }
            }
        }

    }

    #accordianId {
        .card {
            background-color: $body-color;

            .card-header {
                background-color: $body-color;

                h5.mb-0>a {
                    color: $primary-color;

                    &:hover {
                        text-decoration: none;
                        color: $primary-color-dark;
                    }
                }

            }

            .card-body {
                background-color: $body-color-dark;
            }
        }
    }

    #carouselId {
        background-color: $body-color;

        h4 {
            color: $primary-color-dark;
        }

        .row {
            padding: 1.2rem;

            .col-sm-4 {
                padding: rem;
            }
        }

        .col-sm-4 img {
            height: 60px;
        }

    }

    footer {
        .container {
            .row {
                background-color: $body-color-dark;

                .col-sm-6>p {
                    font-size: 12px;
                }

                .col-sm-6>img {
                    height: 30px;
                    margin: 0 1.7rem;
                }

                img.opzht {
                    height: 110px;
                }
            }
        }
    }
}