@import url("https://fonts.googleapis.com/css?family=Comfortaa:300,400,700&subset=cyrillic");
p,
span,
li,
a,
h1,
h2,
h3,
h4,
div {
  font-family: 'Comfortaa';
}

html {
  font-size: 14px;
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  background: #CCDDE8;
}

.container-fluid {
  background: url(../img/main.jpg);
  padding-bottom: 8.4rem;
}

.container-fluid .navbar .nav-item > .nav-link {
  color: #006894;
}

.container-fluid .navbar .nav-item > .nav-link:hover {
  color: #008AC3;
}

.container-fluid .navbar .dropdown-menu {
  background: #CCDDE8;
  margin-top: .8rem;
}

.container-fluid .navbar .dropdown-menu .dropdown-item:hover {
  background: #EDECE8;
}

.container-fluid .navbar .phone-number {
  color: #08478C;
  font-weight: 700;
}

.container-fluid .name p {
  padding: 13rem 0 0 3.5rem;
  font-size: 2rem;
  color: #006894;
}

#accordion .card {
  border: none;
}

#accordion .card .card-header {
  background: #B7C8D3;
}

#accordion .card .card-header .card-link {
  color: #08478C;
  font-size: 1.1rem;
  font-weight: 700;
}

#accordion .card .card-body {
  background: #CCDDE8;
}

#accordion .card .card-body .row .services {
  background: #B7C8D3;
  padding: 1rem;
  border-radius: .8rem;
  font-size: 1.1rem;
}

#accordion .card .card-body .row .services img {
  margin: .1rem 1.5rem;
}

#accordion .card .card-body .row .services ul {
  padding: 0;
}

#accordion .card .card-body .row .services ul h5 {
  padding: 0.3rem 1.3rem;
}

#accordion .card .card-body .row .services ul li {
  list-style: none;
  margin: 0;
  padding: .14rem;
}

.block {
  background: #CCDDE8;
  padding-top: 1rem;
}

.block h4 {
  color: #08478C;
  padding: 1rem;
  margin: 0;
  font-weight: 700;
}

.block .row {
  margin: 0;
}

.block .row .col-12,
.block .row .col-sm-12,
.block .row .col-md-6,
.block .row .col-xl-4 {
  padding: 0;
  margin: 0;
}

.block .row .col-12 .news-block,
.block .row .col-sm-12 .news-block,
.block .row .col-md-6 .news-block,
.block .row .col-xl-4 .news-block {
  background: #B7C8D3;
  border-radius: .8rem;
  margin: 1rem;
  padding: 1rem;
}

.block .row .col-12 .news-block .news-text,
.block .row .col-sm-12 .news-block .news-text,
.block .row .col-md-6 .news-block .news-text,
.block .row .col-xl-4 .news-block .news-text {
  padding: 1rem;
}

.block .row .col-12 .news-block .news-text a,
.block .row .col-sm-12 .news-block .news-text a,
.block .row .col-md-6 .news-block .news-text a,
.block .row .col-xl-4 .news-block .news-text a {
  color: #000000e6;
}

.block .row .col-12 .news-block .news-text a:hover,
.block .row .col-sm-12 .news-block .news-text a:hover,
.block .row .col-md-6 .news-block .news-text a:hover,
.block .row .col-xl-4 .news-block .news-text a:hover {
  text-decoration: none;
  color: #006894;
}

.carousel > h4 {
  background: #CCDDE8;
  padding: 1rem;
  font-weight: 700;
  margin: 0;
  color: #08478C;
}

.partners {
  padding: 3rem 0;
  background: #CCDDE8;
}

footer {
  background: #B7C8D3;
}

footer .row {
  padding: 0;
  margin: 0;
}

footer .row .footer {
  padding: 1rem;
}

footer .row .footer p {
  padding: .3rem;
  font-size: .9rem;
  margin: 0;
}

footer .row .footer .img {
  padding: 1rem;
}
/*# sourceMappingURL=main.css.map */